.d-flex.justify-content-between.mb-3.align-items-start
  .div
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to "Projects", projects_path
        %li.breadcrumb-item
          = link_to @project.name, project_path(@project)
        %li.breadcrumb-item{"aria-current" => "page"}
          = link_to @pull_request.title, project_pull_request_path(@project, @pull_request)
        %li.breadcrumb-item.active{"aria-current" => "page"} Commit changes

= render CommitsComponent.new(presenter: @commits_presenter, create_commit_path: commit_create_project_pull_request_path(@project, @pull_request))
