%footer.py-3.bg-dark.footer.mt-auto.bg-body-tertiary.py-3.border-top
  .container
    .col-md-4.d-flex.align-items-center
      %span.mb-3.mb-md-0.text-body-secondary
        Source code available on
        = link_to "Github", "https://github.com/babelfu/babelfu", class: "text-body-secondary"

